{% extends "core\base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class= ' px-3 py-3 rounded-xl bg-gray  text-teal-700'>
    <div class='mt-6 mb-6 px-6 py-12 bg-gray-100 rounded-xl'>
    <h1 class='text-bold'> <strong>About</strong> </h1>
    <p class='text-semibold text-teal-400'> we believe in the joy of discovery and the excitement of finding unique, high-quality products that add a touch of magic to everyday life. Our online marketplace is designed to be your go-to destination for a seamless and delightful shopping experience.</p>
    </div>
    <div class='mt-6 mb-6 px-6 py-12 bg-gray-100 rounded-xl'>
    <h1 class='text-bold'><strong> Our Story </strong></h1>
    <p class='text-semibold text-teal-400'>Founded 2020, E com app was born out of a passion for connecting people with a curated selection of exceptional products. What started as a vision has now evolved into a thriving platform that brings together a diverse range of sellers and buyers from around the world.</p>
    </div>
    <div class='mt-6 mb-6 px-6 py-12 bg-gray-100 rounded-xl'>
        <h1 class='text-bold'><strong> Our Mission </strong></h1>
    <p class='text-semibold text-teal-400'> We are on a mission to redefine online shopping by offering a thoughtfully curated collection of products that combine style, quality, and affordability. With a commitment to customer satisfaction, we strive to make every purchase a rewarding and enjoyable experience.</p>
    </div>
    <div class='mt-6 mb-6 px-6 py-12 bg-gray-100 rounded-xl'>
        <h1 class='text-bold text-teal-700'><strong> Why Choose us</strong> </h1>  
     <ul class='text-teal-500'>
            <li><strong>Curated Selection:</strong>
                <p>Our team scours the globe to bring you a curated selection of products that meet our high standards for quality and innovation.</p>
            </li>
            <li><strong>Customer-Centric Approach:</strong>
                <p>Your satisfaction is our priority. We are dedicated to providing excellent customer service and support at every step of your shopping journey.</p>
            </li>
            <li><strong>Secure and Convenient:</strong>
                <p>Shop with confidence knowing that your transactions are secure, and our user-friendly platform makes your shopping experience hassle-free</p>
            </li>
        </ul> 
    </div>
    <div class='mt-6 mb-6 px-6 py-12 bg-gray-100 rounded-xl'>
        <h1 class='text-bold'> <strong>Join Our Community</strong> </h1>
    <p class='text-semibold text-teal-400'> Become a part of the E Com App community! Follow us on social media, sign up for our newsletter, and stay updated on the latest trends, promotions, and product launches.</p>
    </div>
 
{% endblock%}
