{% extends 'core/base.html' %}
{% block title %} {{title}} {% endblock %}
{% block content %}
<h1 class='mb-6 text-2xl font-semibold mt-3'> {{title}} </h1>
<form method='POST' action='.' enctype='multipart/form-data'>
    {% csrf_token %}
    <div class=''>
        {{form.as_p}}
    </div>
    {% if form.error or form.non_field_errors  %}
        <div class='mb-3 p-6 rounded-xl bg-red-700'>
            {% for field in form %}
            {{ field.error }}
            {% endfor %}
            {{ form.non_field_errors }}
        </div>
        {% endif %}
        <button class='py-4 px-8 text-md  bg-teal-500 rounded-xl hover:bg-teal-700 mt-3 mb-6'>submit</button>
    </form>
    {% endblock %}